@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
  var homeUrl = "/Admin";
  var breadcrumbItems = new List<(string Title, string Url)>
  {
    ("Dashboard", "#"),
  };
}

<partial name="_Breadcrumb" model="(homeUrl, breadcrumbItems)" />

<section class="bg-white dark:bg-gray-900">
  <div class="container px-6 pt-2 pb-6 mx-auto">
    <div class="text-center">
      <h1 class="text-2xl font-semibold text-gray-800 capitalize lg:text-3xl dark:text-white">Welcome Admin</h1>
      <p class="max-w-lg mx-auto mt-2 text-gray-500">
        Welcome to the admin panel. Here you can manage all the data of the website.
      </p>
    </div>

    <div class="grid grid-cols-1 gap-8 mt-8 lg:grid-cols-2">
      <div>

      </div>

      <div>

      </div>
    </div>
  </div>
</section>