@page
@model PrivacyModel
@{
  ViewData["Title"] = "Privacy Policy";
  var homeUrl = "/";
  var breadcrumbItems = new List<(string Title, string Url)>
  {
    ("Privacy & Policy", "#"),
  };
}

<partial name="_Breadcrumb" model="(homeUrl, breadcrumbItems)" />

<section class="bg-white dark:bg-gray-900">
  <div class="container px-6 py-10 mx-auto">
    <div class="text-center">
      <h1 class="text-2xl font-semibold text-gray-800 capitalize lg:text-3xl dark:text-white">
        explore our <span class="text-blue-500">privacy and policy</span>
      </h1>
      <p class="max-w-lg mx-auto mt-4 text-gray-500">
        Privacy and Policy of zstore.net
      </p>
    </div>


  </div>
</section>
